body {background: #000000;}


div#thumbs {
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width:100%;
  height: 360px;
  text-align: center;
}

#thumbs img {
  width: 360px;
  height: 360px;
  margin: 0 48px 0 48px;
}

p {
  position:absolute;
  top: 0;;
  margin: auto;
  width:100%;
  padding: 8px;
  text-align: center;
  font-family: monospace;
  font-size: 14px;
  color: #ffffff;
  background: rgba(0,0,0,0.5);
  z-index: 10;
}
p.opaque {
  opacity: 0;
}
p.fade {
  animation: 3s fade 2s forwards;
}
a {
  color: #FFFFFF;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.not-selected {
  opacity: 0.5;
}
